API/bin/Debug/net9.0/API.dll
API/bin/Debug/net9.0/API.pdb
API/bin/Debug/net9.0/Core.dll
API/bin/Debug/net9.0/Core.pdb
API/bin/Debug/net9.0/Infrastrcture.dll
API/bin/Debug/net9.0/Infrastrcture.pdb
API/obj/Debug/net9.0/API.AssemblyInfo.cs
API/obj/Debug/net9.0/API.AssemblyInfoInputs.cache
API/obj/Debug/net9.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net9.0/API.dll
API/obj/Debug/net9.0/API.pdb
API/obj/Debug/net9.0/API.sourcelink.json
API/obj/Debug/net9.0/ref/API.dll
API/obj/Debug/net9.0/refint/API.dll
Core/bin/Debug/net9.0/Core.dll
Core/bin/Debug/net9.0/Core.pdb
Core/obj/Debug/net9.0/Core.AssemblyInfoInputs.cache
Core/obj/Debug/net9.0/Core.csproj.CoreCompileInputs.cache
Core/obj/Debug/net9.0/Core.dll
Core/obj/Debug/net9.0/Core.pdb
Core/obj/Debug/net9.0/Core.sourcelink.json
Core/obj/Debug/net9.0/ref/Core.dll
Core/obj/Debug/net9.0/refint/Core.dll
Infrastrcture/bin/Debug/net9.0/Core.dll
Infrastrcture/bin/Debug/net9.0/Core.pdb
Infrastrcture/bin/Debug/net9.0/Infrastrcture.dll
Infrastrcture/bin/Debug/net9.0/Infrastrcture.pdb
Infrastrcture/obj/Debug/net9.0/Infrastrcture.AssemblyInfo.cs
Infrastrcture/obj/Debug/net9.0/Infrastrcture.AssemblyInfoInputs.cache
Infrastrcture/obj/Debug/net9.0/Infrastrcture.csproj.AssemblyReference.cache
Infrastrcture/obj/Debug/net9.0/Infrastrcture.csproj.CoreCompileInputs.cache
Infrastrcture/obj/Debug/net9.0/Infrastrcture.dll
Infrastrcture/obj/Debug/net9.0/Infrastrcture.pdb
Infrastrcture/obj/Debug/net9.0/Infrastrcture.sourcelink.json
Infrastrcture/obj/Debug/net9.0/ref/Infrastrcture.dll
Infrastrcture/obj/Debug/net9.0/refint/Infrastrcture.dll
